<section class="container-fluid">
	<div class="row">
		<div class="col-md-5">
			<h1 class="titulos">Ajuste de Estoque</h1>
		</div>
		<div class="col-md-4">
		</div>
		<div class="col-md-3">
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<table class="table table-hover table-bordered" id="tblEstoque">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Quantidade</th>
						<th>Ajuste</th>
					</tr>
				</thead>
				<tbody>
					<!-- <tr ng-repeat="item in itemsEstoque"> -->
					<tr dir-paginate="item in itemsEstoque | itemsPerPage: 5">
						<td ng-bind="item.nome"></td>
						<td ng-bind="item.quantidade"></td>
						<td>
							<i class="fas fa-undo clickable"></i>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="pagination">
				<dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
				</dir-pagination-controls>
			</div>
		</div>
		<div class="col-md-2"></div>
	</div>
</section>