<section class="container-fluid" id="cadCliente">
    <div>
        <div class="row">
            <div class="col-md-3">
                <h1 class="titulos" align="center">Novo Cliente</h1>
            </div>
            <div class="col-md-6">
            </div>
            <div class="col-md-3"></div>
        </div>
        <br>
        <form>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtNome">Nome</label>
                        <input type="text" ng-model="cliente.nome" class="form-control" id="txtNome" aria-describedby="nomeHelp" placeholder="Nome do Cliente">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="txtEndereco">Endereço</label>
                        <input type="text" ng-model="cliente.endereco" class="form-control" id="txtEndereco" placeholder="Endereco">
                    </div>
                </div>
                <div class="col-md-3 form-inline">
                    <div class="form-group">
                        <label for="txtTelefones">Telefones</label>
                        <input type="text" maxlength="14" ng-model="cliente.telefonePrincipal" class="form-control" placeholder="(XX) XXXXX-XXXXX" id="txtTelefones" ui-br-phone-number-mask="areaCode">

                        <div ng-show="cliente.telefones.length > 1">
                            <input ng-repeat="tel in cliente.telefones" type="text" maxlength="14" ng-model="cliente.telefones[$index]" class="form-control"
                                id="txtTelefones{{$index}}" ui-br-phone-number-mask="areaCode">
                        </div>

                        <div ng-click="adicionarTelefone()" class="addTelefone">
                            <i class="far fa-plus-square fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                </div>
                <div class="col-md-3">
                    <div class="pull-right">
                        <button ng-click="limpar()" class="btn btn-default">Limpar</button>
                        <button ng-click="salvar()" class="btn btn-default">Salvar</button>
                    </div>
                </div>
            </div>
        </form>
</section>